*.obj
*.o
*.lo
*.exe
a.out
Makefile
aclocal.m4
config.cache
config.log
config.status
configure
include/config.h
autom4te.cache
heretic.cfg
hheretic-gl
hheretic-svga
hheretic-sdl
heretic.wad
heretic1.wad
